body {
    background-color: #69140e;
}

.manul-header {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #f90;
}

.manul-main {
    margin: 0.5em;
}

.manul-centered {
    text-align: center;
}

.manul-score {
    background-color: #fff;
    border: 1px solid #ccc;
}

.manul-toolbar {
    margin: 0.5em;
}

.manul-toolbar-group {
    margin-left: 1em;
    margin-right: 1em;
}


.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.demo__content {
  position: relative;
  width: 500;
  height: 200;
}

.svg {
  position: absolute;
  right: 0;
  bottom: 0;
/*  width: auto;
  height: auto; */
  box-sizing: border-box;
  border: 2px solid #333;
}
